
@font-face {
  font-family: 'BEYNO';
  src: url('BEYNO.eot?#iefix') format('embedded-opentype'),  url('BEYNO.woff') format('woff'), url('BEYNO.ttf')  format('truetype'), url('BEYNO.svg#BEYNO') format('svg');
  font-weight: normal;
  font-style: normal;
}
